---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
import Text from "../components/Text.astro";
---

<Layout>
    <SectionsContainer>
        <Section title="Nous contacter">
            <Text>Quel est votre nom ?</Text>
            <textarea name="Nom" placeholder="Entrez votre nom" maxlength="32" rows="1" required autofocus id="name"></textarea>
            <Text>Quel est votre e-mail ?</Text>
            <textarea name="Mail" placeholder="Indiquez votre adresse e-mail" rows="1" maxlength="32" required id="mail"></textarea>
            <Text>Quel est le sujet de votre demande ?</Text>
            <textarea name="Sujet" placeholder="Précisez le sujet de votre demande" rows="1" maxlength="128" required id="subject"></textarea>
            <Text>Entrez votre message</Text>
            <textarea name="Contenu" placeholder="Écrivez ici votre message" rows="16" maxlength="1024" required id="content"></textarea>
            <button class="submit" id="submit-button" type="button">Envoyer</button>
        </Section>
    </SectionsContainer>
</Layout>

<style>
    textarea {
        background-color: var(--main-color);
        width: 85%;
        margin-bottom: 20px;
        resize: none;
    }

    .error {
        background-color: var(--error-color);
    }
    
    textarea.error {
        animation: blink-bg 2s cubic-bezier(.4,0,.6,1);
    }

    @keyframes blink-bg {
        0%   { background-color: var(--main-color); }
        20%  { background-color: var(--error-color); }
        40%  { background-color: var(--main-color); }
        60%  { background-color: var(--error-color); }
        80%  { background-color: var(--main-color); }
        100% { background-color: var(--error-color); }
    }
    
    .submit {
        display: inline-flex;
        width: 100px;
        height: 60px;
        background-color: var(--button-color);
        border: 2px solid var(--border-color);
        border-radius: 10px;
        margin-bottom: 10px;

        align-items: center;
        justify-content: center;

        text-decoration: none;

        transition: background-color .3s, transform .3s;
    }
    .submit:hover {;
        background-color: var(--button-hover);
        transform: scale(1.1);
    }
</style>

<script>
const name = document.getElementById("name");
const mail = document.getElementById("mail");
const subject = document.getElementById("subject");
const content = document.getElementById("content");
if (name && mail && subject && content) {
    name.addEventListener("focus", () => RemoveError(name));
    mail.addEventListener("focus", () => RemoveError(mail));
    subject.addEventListener("focus", () => RemoveError(subject));
    content.addEventListener("focus", () => RemoveError(content));

    document.getElementById("submit-button")?.addEventListener("click", async () => {
        if (name.value && mail.value && subject.value && content.value) {
            const res = await fetch("/api/contact", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ name: name.value, mail: mail.value, subject: subject.value, content: content.value }),
            });

            if (res.ok) alert("Message envoyé");
            else alert("Erreur lors de l'envoi");
        } else {
            if (!name.value) {
                RemoveError(name);
                AddError(name);
            }
            if (!mail.value) {
                RemoveError(mail);
                AddError(mail);
            }
            if (!subject.value) {
                RemoveError(subject);
                AddError(subject);
            }
            if (!content.value) {
                RemoveError(content);
                AddError(content);
            }
        }
    });
}

function AddError(htmlElement: HTMLElement) {
    htmlElement.classList.add("error");
    void htmlElement.offsetWidth;
}

function RemoveError(htmlElement: HTMLElement) {
    htmlElement.classList.remove("error");
    void htmlElement.offsetWidth;
}
</script>