---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionsContainer from "../components/SectionsContainer.astro";
---

<Layout>
    <SectionsContainer>
        <Section title="Contact"></Section>
    </SectionsContainer>
</Layout>