---
import Layout from '../layouts/Layout.astro';
import Banner from '../assets/3125.jpg';
import Section from '../components/Section.astro'
---

<Layout>
	<div class="banner-container">
		<img class = "banner" src={Banner.src} alt="">
	</div>
	<Section title="Titre">
		Texte
	</Section>
</Layout>

<style>
	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	.banner-container {
		margin: 20px auto;
		width: 95%;
	}

	.banner {
		width: 100%;
		max-height: 30vh;
		object-fit: cover;
		object-position: center 69%;
		border: 7px solid var(--border-color);
  		box-sizing: border-box;
		border-radius: 20px;
	}
</style>