---
const { redirect } = Astro.props;
---

<a href={redirect} class="button" role="button">
    <slot></slot>
</a>

<style>
    .button {
        display: inline-flex;
        width: 100px;
        height: 60px;
        background-color: var(--button-color);
        color: white;
        border-radius: 10px;

        align-items: center;
        justify-content: center;

        text-decoration: none;

        transition: background-color .3s, transform .3s;
    }
    .button:hover {
        background-color: var(--button-hover);
        transform: scale(1.1);
    }
</style>