<div class = "container glass centered">
    <h1>ACE</h1>
    <div class="contact">
        <p>Zone Industrielle des Clotais, 1 rue du chemin blanc,</p>
        <p>91160 Champlan</p>
        <p>Tel : 01-64-47-87-20. Fax : 01-64-47-87-21</p>
        <p>E-mail : ace@ace-transport.com</p>
    </div>
</div>

<style>
    .container {
        width: calc(100% - 20px);
        background-color: var(--main-color);
        border: 10px solid var(--border-color);
        border-radius: 15px;
    }

    .centered {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .glass {
        box-shadow : 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter : blur(7px);
        -webkit-backdrop-filter : blur(7px);
    }

	h1 {
		background-color: rgba(128, 128, 128, 0.5);
		border: 4px solid var(--border-color);
		border-radius: 10px;
		padding: 5px 0px;
		width: 90%;
	}
</style>