<div class = "container centered">
    <div class="contact">
        <h1>ACE</h1>
        <p>Zone Industrielle des Clotais, 1 rue du chemin blanc,</p>
        <p>91160 Champlan</p>
        <p>Tel : 01-64-47-87-20. Fax : 01-64-47-87-21</p>
        <p>E-mail : ace@ace-transport.com</p>
    </div>
</div>

<style>
    .container {
        width: 100%;
        background-color: rgba(255, 0, 0, .5);
        border-radius: 15px;
    }

    .centered {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
</style>