---
import logo from '../assets/logo.png';
import Button from './Button.astro';
---

<div class="container centered">
    <img class="logo" src={logo.src} alt="Logo">
    
    <div class="buttons-container">
        <Button redirect="/ACE/">Acceuil</Button>
        <Button redirect="/ACE/services">Services</Button>
        <Button redirect="/ACE/apropos">À propos</Button>
        <Button redirect="/ACE/contact">Contact</Button>
        <Button redirect="/ACE/">Compte client</Button>
    </div>
</div>

<style>
    .container {
        width: 100%;
        background-color: rgba(255, 0, 0, .5);
        border-radius: 15px;
    }
    
    .logo {
        margin: 20px;
    }

	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

    .buttons-container {
        text-align: end;
    }

	@media (min-width: 768px) {
        .container.centered {
            display: block;
            text-align: start;
        }
    }
</style>