---
import logo from '../assets/Logo.png';
---

<div class="container">
    <img class="logo" src={logo.src} alt="Logo">
</div>

<style>
    .container {
        width: 100%;
        background-color: rgba(255, 0, 0, .5);
        border-radius: 15px;
    }
    
    .logo {
        margin: 10px;
    }
</style>