---
import logo from '../assets/logo.png';
import Button from './Button.astro';
---

<div class="container glass centered">
    <a href="/ACE/" class = "full"><img class="logo" src={logo.src} alt="Logo"></a>
    
    <div class="buttons-container">
        <Button redirect="/ACE/">Acceuil</Button>
        <Button redirect="/ACE/services">Services</Button>
        <Button redirect="/ACE/apropos">À propos</Button>
        <Button redirect="/ACE/contact">Contact</Button>
        <Button redirect="/ACE/">Compte client</Button>
    </div>
</div>

<style>
	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

    .glass {
        box-shadow : 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter : blur(7px);
        -webkit-backdrop-filter : blur(7px);
    }

    .full {
        width: 100%;
        height: 100%;
    }

    .container {
        width: calc(100% - 40px);
        background-color: var(--main-color);
        border: 10px solid var(--border-color);
        border-radius: 15px;
        padding: 10px;
    }
    
    .logo {
        background-color: rgba(128, 128, 128, 0.5);
        border: 3px solid rgba(169, 169, 169, 0.5);
        border-radius: 10px;
        padding: 20px clamp(20px, 25%, 153px);
        margin-bottom: 20px;
  		box-sizing: border-box;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        gap: 7px;
    }
</style>