---
import logo from '../assets/logo.png';
---

<div class="container centered">
    <img class="logo" src={logo.src} alt="Logo">
    
    <div class="buttons-container">
        <a href="/ACE/" class="button" role="button">Accueil</a>
        <a href="/ACE/services" class="button" role="button">Services</a>
        <a href="/ACE/" class="button" role="button">À propos</a>
        <a href="/ACE/" class="button" role="button">Contact</a>
        <a href="/ACE/" class="button" role="button">Compte client</a>
    </div>
</div>

<style>
    .container {
        width: 100%;
        background-color: rgba(255, 0, 0, .5);
        border-radius: 15px;
    }
    
    .logo {
        margin: 20px;
    }

	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

    .buttons-container {
        text-align: end;
    }

    button {
        width: 100px;
        height: 60px;
        background-color: rgb(15, 43, 71);
        color: white;
        border-radius: 10px;
    }

    .button {
        display: inline-flex;
        width: 100px;
        height: 60px;
        background-color: rgb(15, 43, 71);
        color: white;
        border-radius: 10px;

        align-items: center;
        justify-content: center;

        text-decoration: none;
    }

	@media (min-width: 768px) {
        .container.centered {
            display: block;
            text-align: start;
        }
    }
</style>