---
import logo from '../assets/logo.png';
import Button from './Button.astro';
---

<div class="container glass centered">
    <img class="logo glass" src={logo.src} alt="Logo">
    
    <div class="buttons-container">
        <Button redirect="/ACE/">Acceuil</Button>
        <Button redirect="/ACE/services">Services</Button>
        <Button redirect="/ACE/apropos">À propos</Button>
        <Button redirect="/ACE/contact">Contact</Button>
        <Button redirect="/ACE/">Compte client</Button>
    </div>
</div>

<style>
	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

    .container {
        width: calc(100% - 40px);
        background-color: var(--main-color);
        border: 10px solid var(--border-color);
        border-radius: 15px;
        padding: 10px;
    }

    .glass {
        box-shadow : 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter : blur(7px);
        -webkit-backdrop-filter : blur(7px);
    }
    
    .logo {
        background-color: rgba(224, 224, 224, 0.25);
        border: 3px solid rgba(169, 169, 169, 0.5);
        border-radius: 10px;
        padding: 20px 153px;
        margin-bottom: 20px;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        gap: 7px;
    }
</style>