<div class="sections-container">
    <slot/>
</div>

<style>
    .sections-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: min(1199px, 90%);
        margin: 20px auto;
        gap: 10px;
    }
</style>