---
const { title } = Astro.props;
---

<div class="container centered">
	<h1>{title}</h1>
	<slot />
</div>

<style>
	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	
	.container {
		text-align: center;
		margin: 50px auto;

		color: white;
		background-color: var(--second-color);
    	border: 2px solid black;
    	border-radius: 30px;
		width: 90%;
	}

	h1 {
		background-color: rgba(0, 0, 0, 0.3);
		border: 2px solid black;
		border-radius: 10px;
		padding: 5px 0px;
		width: 90%;
	}
	
	:global(.container img) {
		max-width: 90%;
		max-height: 40vh;
	}
</style>