---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Background from '../components/Background.astro';

import Logo from '../assets/favicon.png';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href={Logo.src} />
		<meta name="generator" content={Astro.generator} />
		<title>ACE Transport</title>
	</head>
	<body>
		<div class="page">
			<header>
				<Header />
			</header>
			<Background />
			<main class="content">
				<slot />
			</main>
			<footer>
				<Footer />
			</footer>
		</div>
	</body>
</html>

<style>
	:global(html) {
		--main-color: rgba(255, 0, 0, .5);
		--second-color: rgba(0, 0, 255, 0.5);
		
		--button-color: rgb(15, 43, 71);
	}

	html, body {
		height: 100%;
		margin: 0;
	}

	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	.page {
		padding: 8px;
		min-height: calc(100vh - 16px);
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1;
	}
</style>