---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Background from '../components/Background.astro';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ACE Transport</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<Background />
		<slot />
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style>
	body {
		margin: 8px;
	}

	.centered {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
</style>
